<script src="/car/presenter/carProfile.js"></script>

<div class="col-sm-8 col-sm-offset-2">
    <h2><%= obj[0]['brand'] %> <%= obj[0]['model'] %>, <%= obj[0]['year'] %> г</h2>
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading"><kbd><%= obj[0]['cost'] %> BYN</kbd> <small><%= obj[0]['cost']*0.53 %>$, <%= obj[0]['cost']*0.48 %> euro</small></h2><br/>
            <table class="table" id="table2">
                <tr>
                    <td>Год выпуска</td>
                    <td><%= obj[0]['year'] %></td>
                </tr>
                <tr>
                    <td>Пробег</td>
                    <td><%= obj[0]['mileage'] %> км</td>
                </tr>
                <tr>
                    <td>Тип топлива</td>
                    <td><%= obj[0]['typeOfFuel'] %></td>
                </tr>
                <tr>
                    <td>Объем</td>
                    <td><%= obj[0]['volume'] %> л</td>
                </tr>
                <tr>
                    <td>Трансмиссия</td>
                    <td><%= obj[0]['transmission'] %></td>
                </tr>
            </table>
        </div>
        <div class="media-right">
            <img src=<%= obj[0]['photo'] %> class="media-object img-rounded" style="width:450px">
        </div>
    </div>
</div>
