<script src="/car/presenter/editCarHandlers.js"></script>

 <div class="conteiner-fluid col-sm-4 col-sm-offset-2">
        <form id="editForm">
            <fieldset>
                <legend><%= title %></legend>
                <div class="form-group">
                    <label for="editBrand">Выберите марку машины:</label>
                    <select id="editBrand" class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label for="editModel">Выберите модель машины:</label>
                    <select id="editModel" class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label for="editDate">Введите год выпуска</label>
                    <input id="editDate" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <label for="editCost">Введите цену, BYN</label>
                    <input id="editCost" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <label for="editMileage">Введите пробег</label>
                    <input id="editMileage" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5">
                            <label><input type="radio" name="transmission" checked value="Механика">Механика</label>
                        </div>
                        <div class="col-sm-5">
                            <label><input type="radio" name="transmission" checked value="Автомат">Автомат</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="editVolume">Введите объем двигателя</label>
                    <input id="editVolume" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5">
                            <label><input type="radio" name="typeOfFuel" checked value="Бензин">Бензин</label>
                        </div>
                        <div class="col-sm-5">
                            <label><input type="radio" name="typeOfFuel" checked value="Дизель">Дизель</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-2">
                            <button type="submit" class="form-control btn btn-primary" id="save">Сохранить</button>
                        </div>
                        <div class="col-sm-5">
                            <button class="form-control btn btn-primary" id="cancel">Отменить</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="conteiner-fluid col-sm-4 col-sm-offset-1">
        <!--<img class="img img-bordered" width="400px"><br/><br/>-->
        <div class="upload-file-container">
            <img id="image" src="#" alt="" class="img img-responsive">
            <div class="upload-file-container-text">
                <!--<input type="file" name="pic[]" class="photo" id="imgInput" multiple>-->
                <input type="text" id="imgInput" class="form-control">
            </div>
        </div>
        <button class="btn btn-lg btn-success col-sm-offset-7">Загрузить</button>
    </div>
