body{
    overflow-y: auto;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}
html{
    overflow-y: hidden;
}
#main-container{
    height: 100%;
    overflow-y: hidden;
}

/*-----------------mainView--------------------*/

#mainView{
    margin-right: 7%;
}


/*-------------------details----------------------*/

#car-info{
    margin-top: 7%;
    padding: 20px;
    color: beige;
    background-color: black;
}

/*-------------------search-----------------------*/

.searchCar{
    float: left;
    position: relative;
    width: 700px;
    height: 150px;
}

.searchCar  img{
    width: 270px;
    height: 140px;
}

.rowd{
    position: static;
    display: inline-table;
    height: 150px;
}
ul{
    list-style: none;
}
.name{
    width: 170px;
}





#selector{
    margin-left: 20%;
}

#content{
    height: 700px;
}
#searchList{
    min-height: 100%;
}
#list {
    padding: 10px 5px;
    margin-left: 10%;
    margin-bottom: -1px;
    min-height: 100%;
}
.car {
    float: left;
    position: relative;
    height: 170px;
    margin: 0 5px;
    padding: 0;
}
.car img {
    width: 210px;
}
.car h3 {
    margin: 0;
    padding: 3px 5px 0 0;
    max-width: 200px;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
}

#cost-info {
    visibility: hidden;
}
.car:hover #cost-info {
    visibility: visible;
    position: absolute;
    width: 210px;
    height: 105px;
    top: 0;
    margin: 0;
    padding-top: 15px;
    line-height: 110px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
}
.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
