<script src="/search/presenter/search.js"></script>
<script src="/search/presenter/filterHandlers.js"></script>

<div id="selector">
    <form>
        <fieldset>
            <legend>Параметры авто</legend>
            <div class="form-group">
                <label for="selectBrand">Марка</label>
                <select id="selectBrand" class="form-control">
                    <option>Не выбрано</option>
                    <%for(let i=0; i< mas["brand"].length; i++){%>
                    <option><%= mas["brand"][i] %></option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label for="selectModel">Модель</label>
                <select id="selectModel" class="form-control">
                    <option>Не выбрано</option>
                    <%for(let i=0; i< mas["model"].length; i++){%>
                    <option><%= mas["model"][i] %></option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label for="selectDateFrom">Год выпуска</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input id="selectDateFrom" type="text" placeholder="С" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <input id="selectDateTo" type="text" placeholder="По" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="selectCostFrom">Цена, BYN</label>
                    </div>
                    <div class="col-sm-3">
                        <a href="">USD</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="">EURO</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <input id="selectCostFrom" type="text" placeholder="От" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <input id="selectCostTo" type="text" placeholder="До" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="radio" name="transmission" value="Автомат">Автомат
                    </div>
                    <div class="col-sm-6">
                        <input type="radio" name="transmission" value="Механика">Механика
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="selectVolumeFrom">Объем двигателя</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input id="selectVolumeFrom" type="text" placeholder="От" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <input id="selectVolumeTo" type="text" placeholder="До" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="radio" name="typeOfFuel" value="Бензин">Бензин
                    </div>
                    <div class="col-sm-4">
                        <input type="radio" name="typeOfFuel" value="Дизель">Дизель
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button id="apply-filter" type="button" class="form-control btn btn-primary">Применить фильтр</button>
            </div>
        </fieldset>
    </form>
</div>