<div class="container">
    <form class="form-inline" id="searchForm">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-1">
            <label class="center" for="search-input">Search: </label>
        </div>
        <div class="input-group col-sm-6">
            <input id="search-input" type="text" class="form-control input-lg" placeholder="Search...">
            <span class="input-group-btn">
                  <button id="searchBtn" class="btn btn-default btn-lg" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
        </div>
    </form>
</div>