<script src="/admin/presenter/adminHandlers.js"></script>

<div class="conteiner">
<table class="table table-bordered" id="admin-table">
    <thead>
    <tr>
        <th>Изображение</th>
        <th>ID</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Год выпуска</th>
        <th>Пробег</th>
        <th>Стоимость</th>
        <th>Объем</th>
        <th>Тип топлива</th>
        <th>Трансмиссия</th>
        <th><button class="btn btn-info" id="add">Добавить запись +</button></th>
    </tr>
    </thead>
    <tbody>
    <% for(let i=0; i< mas.length; i++) {%>
    <tr>
        <td width="180px"><img src=<%= mas[i]['photo'] %> class="img-responsive" alt="car" width="150px"></td>
        <td><%= mas[i]['id_car'] %></td>
        <td><%= mas[i]['brand'] %></td>
        <td><%= mas[i]['model'] %></td>
        <td><%= mas[i]['year'] %></td>
        <td><%= mas[i]['mileage'] %></td>
        <td><%= mas[i]['cost'] %></td>
        <td><%= mas[i]['volume'] %></td>
        <td><%= mas[i]['typeOfFuel'] %></td>
        <td><%= mas[i]['transmission'] %></td>
        <td></td>
    </tr>
    <% }%>
    </tbody>
</table>
</div>

    <div id="control-buttons" style="display: none">
        <button class="btn btn-primary" id="edit">Изменить</button><br/>
        <button class="btn btn-danger delete" id="delete">Удалить</button>
        <div id="id" class="hidden"></div>
    </div>
